###1
1. 修复分类不能移动顺序的bug
2. 创建成员优化
3. 可以导出任务详情
4. 修复迭代，RELEASE名字重复创建不了
5. 导入需求时，不能导入需求的“详细描述、关联对象”
6. devops里的machine pipeline 新增分组(group)功能

###2
1. 新增操作记录
2. 企业管理权限细化
3. 邮件微信通知默认设置可配置


###10
1. 任务列表视图显示关联对象
2. 任务关联对象修改成双向绑定
3. 任务视图显示任务的状态变更记录

###11
1.新增系统钩子,在创建任务前，创建任务后进行拦截
2.新增Web Api与第三方系统对接

###12
1.优化权限配置

###13
1.新增存储过程检查数据正确性

###14
1.缺陷新增默认字段(已用天数,剩余天数,开始时间,截止时间,预计工时)

###15
1.新增远程LDAP配置
2.修复safari浏览器导出的xlsx文件乱码的问题

###16
1.修复部分bug

###17
1.任务状态支持设置角色编辑某状态的权限

###18
1.任务可以设置进度0-100
2.优化列表展示性能

###19
1.新增飞书绑定
2.新增飞书推送提醒功能

###20
1.优化日历功能
2.修复部分bug

###21
1.任务新增状态变更记录
2.限制邀请好友每日发送邮件数量

###22
1.新增看板不刷新页面也可以实时更新的功能

###23
1.优化devops pipeline

###24
1.新增问卷调查
2.新增手机验证码邀请好友的功能

###25
1.优化企业权限

###26
1.新增企业邀请码邀请的功能

###27
1.问卷调查优化

###28
1.日期控件支持显示时分秒

###29
1.复制项目时会把分类、数据权限、内容模板也复制过去
2.Devops优化主机登陆

###30
1.优化报表模块

###31
1.优化svn提交统计行数
2.新增系统通知
3.新增项目集管理